/* Themed colors */
:root {
    --primary-accent: hsl(204, 85%, 32%);
    --darker-primary-accent: hsl(204, 85%, 20%);
    --navbar-border-top: #ff6300;
    --button-border: #ff6300;
    --link-focus: #ff6300;
    --form-shadow: rgba(56, 167, 187, 0.6);
    --pagination-bg: #a7dbe5;
    --link-hover-bg: #2c8494;
    --navbar-focus: #0c5f97;
}

#top {
    background: var(--navbar-border-top);
    /*#555555;*/
}

#top .social a {
    color: var(--darker-primary-accent);
    /*#999999;*/
}

.navbar ul.nav>li>a:hover {
    border-top: solid 5px var(--navbar-border-top);
}

.navbar.navbar-light ul.nav>li>a:hover,
.navbar.navbar-light ul.nav>li.open>a:hover,
.navbar.navbar-light ul.nav>li>a:focus,
.navbar.navbar-light ul.nav>li.open>a:focus {
    border-top: solid 5px var(--navbar-border-top);
}

#heading-breadcrumbs {
    background: url('../img/textures/black-white.png') center center repeat;
    /* box-shadow: inset 0 0 500px 1000px rgb(255 99 0 / 0.7), inset 0 0 0 20px rgb(12 95 151 / 0.7); */
}

#heading-breadcrumbs h1 {
    color: var(--primary-accent);
    /*#333333;*/
}

.bar.background-pentagon {
    background: url('../img/textures/black-white.png') center center repeat;
}

#footer {
    background: var(--primary-accent);
    /* #555555;*/
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

#copyright {
    background: var(--primary-accent);
    /* #333;*/
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {

    background-color: var(--navbar-focus);
}
